@import "~antd/dist/antd.less";



.layout-default {
  height: 100vh;
  .ant-layout {

    height: 100%;
  }
  .ant-layout-content {
    display: flex;
    flex-direction: column;
    .head {
      background-color: @layout-trigger-color;
      padding: 16px;
      color: @heading-color;
      display: flex;
      align-items: center;
      min-height: 60px;
      & > .label {
        flex: 1;
      }
    }
    .content {
      overflow: auto;
      margin: 24px 16px;
      padding: 16px;
      background-color: @layout-trigger-color;
      flex: 1;
    }
  }
}

.ant-tree {
  & > li {
    display: flex;
    flex-wrap: wrap;
    .ant-tree-node-content-wrapper {
      flex: 1;
    }
    .ant-tree-child-tree {
      width: 100%;
      & > li {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
  .tree-node {
    display: flex;
    width: 100%;
    .label {
      flex: 1;
    }
    .extensional {
      display: none;
    }
    &:hover {
      .extensional {
        display: block;
      }
    }
  }
}

.primary-text {
  color: @primary-color;
}

.success-text {
  color: @success-color;
}
